<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.1.267" targetFramework="net45" />
  <package id="NBasicExtensionMethod" version="1.0.4292.32667" targetFramework="net45" />
  <package id="NHelpfulException" version="1.0.4409.2007" targetFramework="net45" />
  <package id="NMap" version="1.0.4530.32469" targetFramework="net45" />
  <package id="NSure" version="1.0.4409.2144" targetFramework="net45" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net45" />
  <package id="TakeIo.NetworkAddress" version="1.0.0.2" targetFramework="net45" />
</packages>